@import url(../lib/bs4/css/bootstrap.min.css);
.car-item {
    width: 18%;
    margin: 20px;
}

.books-container {
    display: flex;
    flex-wrap: wrap
}

.delete-btn {
    cursor: pointer;
}

/* .card-img-top {
    margin: 5px auto 0 auto;
    height: 250px;
    width: 200px;
}
.card-img-top2 {
    margin: 5px auto 0 auto;
    height: 150px;
    width: 100px;
} */

img {
    margin: 5px auto 0 auto;
    height: 250px;
    width: 200px;
}

tr{
    width: 100%;
}

.table td, .table th {
    padding: initial; 
    vertical-align: initial;
    text-align: center;
}

h5 {
    font-size: initial ;
}